body {
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: rgb(203, 202, 202);  
}
.traffic-light {
    flex-direction: column; 
    margin-top: 50px;
    padding: 5px;
    background-color: #fcfcfc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.container {
    width: 150px;
    height: 150px;
    margin: 5px; 
    border: 10px solid;
}
.red {
    background-color: red;
    border-color: #8b0000;
}
.yellow {
    background-color: yellow;
    border-color: #b8860b;
}
.green {
    background-color: #008001;
    border-color: #006400;
}
.box {
    width: 75px;
    height: 75px;
}
.light-red {
    background-color: #FF948D;
    width: 150px;
    margin-top: 50%;
}
.light-yellow {
    background-color: rgb(255, 255, 169);
    margin-top: 50%;
    margin-left: 50%;
}
.light-green {
    background-color: #92bf8b;
    margin-top: 50%;
}