* {
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    font-family: "Sofia", sans-serif;
    background-color: #262525;
    padding: 20px;
    text-align: center;
    color: #f4c069;
}
.menue {
    background-color: #262525;
    height: 420px;
    width: 180px;
    float: left;
    padding: 20px;
}
.content {
    background-color: rgba(177, 176, 176, 0.595);
    float: left;
    width: calc(100% - 180px);
    height: 420px;
    text-align: left;
    color: black;
    padding-top: 5px;
    padding-left: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

p{
    padding-left: 10px;
    padding-right: 15px;
    line-height: 25px;
}

.footer {
    clear: both;
    background-color: #262525;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-top: 10px;
}

a:link {
    color: #f4c069;
}
a:visited {
    color: #f4c069;
}

a:hover {
    color: rgb(244, 225, 190);
}
a:active {
    color: #f4c069;
}

